.site-header{
    background-color: #1bbc9b;
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}
.profile-pic {
    border-radius: 50%;
    align-self: center;
    box-shadow: #0d100c 5px 2px 5px;
}

.instagram {
    color: #ecfdf9;  
}

body {
    margin: 0;
}